{% extends 'base.html.twig' %}
{% block body %}
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h2>{{ employment.title }}</h2>
                    </header>

                    <p>
                        {{ employment.content }}
                    </p>

                    <small class="author">
                        {{ employment.addedOn }}
                    </small>

                    <footer>
                        <div class="pull-right">
                            <a class="btn btn-default btn-xs" href="{{ path('employment') }}">back &raquo;</a>
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>

{% endblock %}